@import '~modern-normalize/modern-normalize.css';

:root {
  font-size: calc(0.5vw + 0.5rem);
}

html, body, div, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

body {
  line-height: 1.8;
  font-family: Arial, sans-serif;
}

.container {
  margin-inline: auto;
  padding: 5rem 2rem;
  max-width: 100%;
  width: 110vh;
}

.pageHeader {
  margin-bottom: 5rem;
  position: sticky;
  top: 2rem;
  transition: visibility 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.scrollingDown .pageHeader {
  opacity: 0;
  visibility: collapse;
  transition-duration: 0.6s;
  filter: blur(5rem);
}

.pageHeader__title {
  font-weight: bold;
}

.image {
  display: grid;
}

.image:nth-last-child(n + 2){
  margin-bottom: 11rem;
}

.image__imgWrap {
  grid-row: 1 / 2;
  background: #fafafa;
}

.image__imgWrap img {
  width: 100%;
  aspect-ratio: 60 / 45;
  object-fit: contain;
}

.image__label {
  grid-row: 2 / 3;
  margin-top: 2rem;
  transition: opacity 0.3s ease;
}

.image__staff {
  font-size: 0.75em;
}

.scrollingDown .image__label {
  opacity: 0.2;
  transition-duration: 0.7s;
}
